.Footer {
  height: auto;
  background: rgba(32, 86, 145, 0.1);

  .pagFooter {
    color: #000000;
    text-align: center;
    padding: 15px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media (max-width: 360px) {
  .Footer {
    .pagFooter {
      padding: auto;
      font-size: 10px;
    }
  }
}
